.col-md-12
  =haml :'/shared/_page_header', locals: {client: @client, primary: @client.identifier, secondary: @event_name}

.col-md-12
  %h4 Hour Breakdown
  - @hour_breakdown.each do |key, value|
    %p= "Hour Received:#{key}, Number of Events:#{value.count}"
