%nav.col-md-12.navbar.navbar-default.navbar-static-top{style: "background-color: black; border: 0px;"}
  %a.navbar-brand{:href => "/", style: "color: white;" } Rush Hour Web Statistics
  %ul.nav.navbar-nav

