.col-md-12
  =haml :'/shared/_page_header', locals: {client: @client, primary: @client.identifier, secondary: @client.root_url}

.col-md-12
  =haml :'/shared/_times', locals: {average: average, max: max, min: min }

.col-md-3
  %h4 Request Types
  - @client.most_frequent_request_type.each do |type|
    %p= haml :'/shared/_array', locals: {item: type}

.col-md-3
  %h4 Browsers
  - @client.user_agents.web_browser_breakdown.each do |platform, count|
    %p= haml :'/shared/_hash', locals: {key: platform, value: count}

.col-md-3
  %h4 Platforms
  - @client.user_agents.web_platform_breakdown.each do |platform, count|
    %p= haml :'/shared/_hash', locals: {key: platform, value: count}

.col-md-3
  %h4 Resolutions
  - @client.resolutions.resolutions_breakdown.each do |resolution, count|
    %p= haml :'/shared/_hash', locals: {key: resolution, value: count}
